@import 'normalize.sass';
@import 'fonts.sass';
@import 'highlight-tags.sass';

.wrapper
	width: 1200px
	padding: 0 27px
	margin: 0 auto

.no-padding
	padding: 0


header
	
	height: 66px
	display: flex
	.logo
		width: 153px
		margin-right: 24px
	.top-menu 
		width: 350px
		ul
			display: flex
	.user-block
		margin-left: auto
		width: 270px

.features
	height: 580px

.special-offers
	height: 230px
	display: flex
	justify-content: space-between
	.offer
		width: 560px

.bestsellers
	height: 400px
	display: flex
	justify-content: space-between
	.best-item
		width: 267px

.about-us
	height: 308px
	margin-bottom: 40px

.info-block
	height: 220px
	margin-bottom: 40px
	display: flex
	justify-content: space-between
	.info-card
		width: 560px

.location-map
	height: 430px


.main-footer
	height: 103px
	display: flex
	.social
		width: 187px
	.docs
		width: 380px
		margin-left: 190px
	.copyright
		width: 267px
		margin-left: auto			

@import 'media.sass';